<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HopNExplore</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />


    <!-- Tailwind CSS via CDN -->
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- Tailwind Config for CDN -->
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        primary: '#1e40af', // Custom blue
                        secondary: '#f97316', // Custom orange
                    }
                }
            }
        }
    </script>
</head>

<body>

    @{
        var controller = ViewContext.RouteData.Values["controller"]?.ToString();
        var action = ViewContext.RouteData.Values["action"]?.ToString();
    }

    @if (controller == "Login" && action == "Index" || controller == "Register" && action == "Index")
    {

    }
    else
    {
        @if (controller == "Home" && action == "Index")
        {
            <header class="banner">
                <nav id="navbar" class="flex items-center justify-between w-full relative p-4">
                    <!-- Logo -->
                    <div>
                        <a asp-controller="Home" asp-action="Index">
                            <img src="~/images/HomePageImages/Logo3.png" alt="logo" class="w-[60px]" />
                        </a>

                    </div>

                    <!-- Desktop Menu -->
                    <ul class="items-center gap-8 text-white md:flex hidden">
                        <!-- Products -->
                        <li class="flex items-center  cursor-pointer hover:text-blue-500 ">
                            <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>

                        <!-- Tour Packages -->
                        <li class="flex items-center  cursor-pointer hover:text-blue-500">
                            <a asp-area="" asp-controller="TourPackage" asp-action="Index">Tour Packages</a>
                        </li>

                        <!-- Support -->
                        <li class="flex items-center cursor-pointer hover:text-blue-500">
                            <a asp-area="" asp-controller="Blog" asp-action="Index">Blogs</a>
                        </li>

                        <li class="flex items-center gap-1 cursor-pointer hover:text-blue-500">
                            <a asp-action="Index" asp-controller="Contact" asp-area="">Contact</a>
                        </li>

                        @* <li class="flex items-center gap-1 cursor-pointer hover:text-blue-500">
                              <a asp-controller="Login" asp-action="Index" asp-area="">Login</a>
                      </li> *@





                    </ul>
                    <li class="flex items-center gap-1 cursor-pointer hover:text-red-500 text-white">
                        <a asp-controller="Login" asp-action="Index" asp-area="">Login</a>
                    </li>

                    @* <partial name="_LoginPartial" /> *@




                    <!-- Mobile Sidebar -->
                    <aside id="mobileSidebar"
                        class="bg-white absolute top-14 right-0 w-64 p-4 rounded-md shadow-lg opacity-0 translate-x-20 pointer-events-none transition-all md:hidden">
                        <ul class="flex flex-col gap-4 text-gray-600">
                            <li id="mobileProducts" class="flex items-center justify-between cursor-pointer">
                                Products <i class="ri-arrow-down-s-line"></i>
                            </li>
                            <div id="mobileProductsMenu" class="ml-4 hidden flex-col gap-2">
                                <p class="cursor-pointer hover:text-blue-500">Demo App</p>
                                <p class="cursor-pointer hover:text-blue-500">CRM</p>
                                <p class="cursor-pointer hover:text-blue-500">CMS</p>
                            </div>
                            <li class="cursor-pointer hover:text-blue-500">Features</li>
                            <li class="cursor-pointer hover:text-blue-500">Support</li>
                        </ul>
                    </aside>
                </nav>


                <div class="banner-content ">
                    <div>
                        <h1 class="text-[24px] font-semibold">Explore. Dream. Discover.</h1>
                        <h2 class="text-[60px] font-bold">New Advencture</h2>
                        <p>Whether it’s mountains, beaches, or cities — we bring you closer to the destinations you’ve always dreamed of visiting.</p>
                        <a asp-action="Index" asp-controller="TourPackage">

                            <button class="bg-white px-6 py-3 text-black my-10 rounded-lg">Discover
                                Now</button>
                        </a>
                    </div>
                </div>
            </header>
        }

        else
        {

            <header class="">
                <div class="bg-gray-800">
                    <nav class="flex items-center justify-between w-full relative p-4 ">

                        <!-- Logo -->
                        <a asp-controller="Home" asp-action="Index">
                            <img src="~/images/HomePageImages/Logo3.png" alt="logo" class="w-[60px]" />
                        </a>

                        <!-- Desktop Menu -->
                        <ul class="items-center gap-8 text-white md:flex hidden">
                            <!-- Products -->
                            <li class="flex items-center cursor-pointer hover:text-red-500 ">
                                <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>

                            <!-- Tour Packages -->

                            <li class="flex items-center  cursor-pointer hover:text-red-500">
                                <a asp-area="" asp-controller="TourPackage" asp-action="Index">Tour Packages</a>
                            </li>

                            <!-- Support -->
                            <li class="flex items-center cursor-pointer hover:text-red-500">
                                <a asp-area="" asp-controller="Blog" asp-action="Index">Blogs</a>
                            </li>


                            <li class="flex items-center gap-1 cursor-pointer hover:text-red-500">
                                <a asp-action="Index" asp-controller="Contact" asp-area="">Contact</a>
                            </li>

                        </ul>

                        <li class="flex items-center gap-1 cursor-pointer hover:text-red-500 text-white">
                            <a asp-controller="Login" asp-action="Index" asp-area="">Login</a>
                        </li>

                        @* <partial name="_LoginPartial" /> *@
                        <!-- User Menu + Mobile Menu Button -->
                        @* <div class="flex items-center gap-4">

                    <h2 class="text-white cursor-pointer hover:text-blue-500">

                        <a asp-controller="Login" asp-action="Index" asp-area="">Login</a>
                    </h2>


                    <!-- Mobile Menu Button -->
                    <i id="mobileMenuBtn" class="ri-menu-line text-2xl cursor-pointer md:hidden"></i>
                </div> *@

                        <!-- Mobile Sidebar -->
                        <aside id="mobileSidebar"
                            class="bg-white absolute top-14 right-0 w-64 p-4 rounded-md shadow-lg opacity-0 translate-x-20 pointer-events-none transition-all md:hidden">
                            <ul class="flex flex-col gap-4 text-gray-600">
                                <li id="mobileProducts" class="flex items-center justify-between cursor-pointer">
                                    Products <i class="ri-arrow-down-s-line"></i>
                                </li>
                                <div id="mobileProductsMenu" class="ml-4 hidden flex-col gap-2">
                                    <p class="cursor-pointer hover:text-blue-500">Demo App</p>
                                    <p class="cursor-pointer hover:text-blue-500">CRM</p>
                                    <p class="cursor-pointer hover:text-blue-500">CMS</p>
                                </div>
                                <li class="cursor-pointer hover:text-blue-500">Features</li>
                                <li class="cursor-pointer hover:text-blue-500">Support</li>
                            </ul>
                        </aside>
                    </nav>

                </div>

            </header>
        }
    }

    <div class="container h-full max-h-full bg-black">


        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    @if (controller == "Admin" && action == "CreatePackage" || controller == "Login" && action == "Index" ||
        controller == "Register" && action == "Index")
    {

    }
    else
    {
        <footer class="border-top footer text-muted bg-black">
            <div class="container text-center text-white py-4">
                &copy; 2025 - HopNExplore - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>

    }

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    @* Desktop product menu hover *@


    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)


    <!-- Load the built React bundle -->
    <script type="module" src="~/dist/assets/app.js"></script>

</body>

</html>
